<nb-card>
	<nb-card-header>
		Game Info
	</nb-card-header>

	<nb-card-body>

		<div class="row">
			<div class="data-input">
				<label>Name</label>
				<input type="text" nbInput status="basic" placeholder="Name" [formControl]="nameControl">
			</div>

			<div class="data-input">
				<label>Score</label>
				<input type="number" nbInput status="basic" placeholder="Score" [formControl]="scoreControl">
			</div>
		</div>

		<div class="row">
			<div class="data-input">
				<label>Where To Stream</label>
				<nb-select multiple placeholder="Where To Stream" [formControl]="streamControl">
					<nb-option *ngFor="let location of whereToStream" [value]="location">{{location}}</nb-option>
				</nb-select>
			</div>

			<div class="data-input">
				<label>Genre</label>
				<nb-select multiple placeholder="Genre" [formControl]="genreControl">
					<nb-option *ngFor="let genre of movieGenres" [value]="genre">{{genre}}</nb-option>
				</nb-select>
			</div>
		</div>

		<div class="row">
			<div class="data-input">
				<label>Movie</label>
				<nb-select multiple placeholder="Type" [formControl]="typeControl">
					<nb-option *ngFor="let type of movieTypes" [value]="type">{{type}}</nb-option>
				</nb-select>
			</div>

			<div class="data-input">
				<label>Watch With GF</label>
				<nb-select placeholder="Starred" [formControl]="watchWithControl">
					<nb-option *ngFor="let type of [
					{value: true , text: 'Yes'},
					{value: false , text: 'No'},
					]"
					[value]="type.value">{{type.text}}</nb-option>
				</nb-select>
			</div>
		</div>

		<div class="row">
			<div class="data-input">
				<label>Watched</label>
				<nb-select placeholder="Starred" [formControl]="checkboxControl">
					<nb-option *ngFor="let type of [
					{value: true , text: 'Yes'},
					{value: false , text: 'No'},
					]"
					[value]="type.value">{{type.text}}</nb-option>
				</nb-select>
			</div>

			<div class="data-input">
				<label>Starred</label>
				<nb-select placeholder="Starred" [formControl]="starredControl">
					<nb-option *ngFor="let type of [
					{value: true , text: 'Yes'},
					{value: false , text: 'No'},
					]"
					[value]="type.value">{{type.text}}</nb-option>
				</nb-select>
			</div>
		</div>

		<div class="row">
			<div class="data-input">

			</div>

			<div class="data-input">

			</div>
		</div>

	</nb-card-body>

	<nb-card-footer>
		<button nbButton status="danger" style="margin-right: 10px;" (click)="close()">Cancel</button>
		<button nbButton status="success" (click)="submit()">Submit</button>
	</nb-card-footer>
  </nb-card>
