<nb-card>
	<nb-card-header>
		Game Info
	</nb-card-header>

	<nb-card-body>

		<label>Name</label>
		<br>
		<input type="text" nbInput style="width: 250px;" status="basic" placeholder="Name" [formControl]="nameControl">
		<br>

		<label>Score</label>
		<br>
		<input type="number" nbInput style="width: 250px;" status="basic" placeholder="Score" [formControl]="scoreControl">
		<br>

		<label>Where To Stream</label>
		<br>
		<nb-select multiple style="width: 250px;" placeholder="Genre" [formControl]="streamControl">
			<nb-option *ngFor="let location of whereToStream" [value]="location">{{location}}</nb-option>
		</nb-select>
		<br>
		<br>

		<label>Genre</label>
		<br>
		<nb-select multiple style="width: 250px;" placeholder="Genre" [formControl]="genreControl">
			<nb-option *ngFor="let genre of movieGenres" [value]="genre">{{genre}}</nb-option>
		</nb-select>
		<br>

		<br>

		<label>Watch With GF</label>
		<br>
		<br>
		<nb-checkbox [formControl]="watchWithControl" style="margin-top: 20px;"></nb-checkbox>

		<br>
		<br>

		<label>Watched</label>
		<br>
		<br>
		<nb-checkbox [formControl]="checkboxControl" style="margin-top: 20px;"></nb-checkbox>

	</nb-card-body>

	<nb-card-footer>
		<button nbButton status="danger" style="margin-right: 10px;" (click)="close()">Cancel</button>
		<button nbButton status="success" (click)="submit()">Submit</button>
	</nb-card-footer>
  </nb-card>
