<nb-card>
	<nb-card-body>

		<div style="margin-bottom: 15px;">

			<input nbInput [nbFilterInput]="dataSource" id="search" class="search-input">

			<button nbButton ghost (click)="add()"><nb-icon icon="plus-outline"></nb-icon></button>
			<button nbButton ghost (click)="saveToLocalStorage()"><nb-icon icon="save-outline"></nb-icon></button>
			<button nbButton ghost (click)="save()"><nb-icon icon="arrow-circle-down-outline"></nb-icon></button>

			<button nbButton ghost style="float:right;" (click)="nextPage()"><nb-icon icon="arrow-ios-forward-outline"></nb-icon></button>
			<button nbButton ghost style="float:right;" (click)="previousPage()"><nb-icon icon="arrow-ios-back-outline"></nb-icon></button>

		</div>

		<table [nbTreeGrid]="dataSource" [nbSort]="dataSource" (sort)="updateSort($event)">

			<tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allColumns"></tr>
			<tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: allColumns"></tr>

			<ng-container *ngFor="let column of allColumns; let index = index"
                    [nbTreeGridColumnDef]="column">

				<th nbTreeGridHeaderCell [nbSortHeader]="getSortDirection(column)" *nbTreeGridHeaderCellDef>
				{{convert(column)}}
				</th>

				<td nbTreeGridCell *nbTreeGridCellDef="let row; let i = index">

					<div *ngIf="column === 'Actions'">
						<button nbButton ghost (click)="deleteEntry(row)"><nb-icon icon="trash-2-outline"></nb-icon></button>
						<button nbButton ghost (click)="edit(row)"><nb-icon icon="edit-outline"></nb-icon></button>
					</div>

					<div *ngIf="!['checkbox', 'recommended', 'singleplayer', 'multiplayer', 'starred'].includes(column) && column != 'Actions'">
						<div style="white-space: pre-line">
							{{getValue(row, column)}}
						</div>
					</div>

					<nb-checkbox *ngIf="['checkbox', 'recommended', 'singleplayer', 'multiplayer', 'starred'].includes(column)" [checked]="row.data[column]" disabled></nb-checkbox>
				</td>
			</ng-container>

		</table>

	</nb-card-body>
</nb-card>
