<nb-card>
	<nb-card-body>

		<div style="margin-bottom: 15px;">

			<input nbInput [ngModel]="globalFilter" (ngModelChange)="applyFilter($event)"
                    [ngModelOptions]="{standalone: true}" id="search" class="search-input" #input>

			<button nbButton ghost (click)="add()"><nb-icon icon="plus-outline"></nb-icon></button>
			<button nbButton ghost (click)="saveToLocalStorage()"><nb-icon icon="save-outline"></nb-icon></button>
			<button nbButton ghost (click)="save()"><nb-icon icon="arrow-circle-down-outline"></nb-icon></button>
			<button nbButton ghost (click)="randomizeEntry(true)"><nb-icon icon="shuffle-2-outline"></nb-icon></button>
			<button nbButton ghost (click)="randomizeEntry(false)"><nb-icon icon="heart-outline"></nb-icon></button>
			<button nbButton ghost (click)="randomizeEntry(true, true)"><nb-icon icon="star-outline"></nb-icon></button>

		</div>

		<mat-paginator
		[pageSizeOptions]="[5, 10, 25, 50, 100]"
		[pageSize]="25" aria-label="Select page"
		[showFirstLastButtons]="true">
    	</mat-paginator>

		<mat-table [dataSource]="dataSource" matSort fixedLayout>

			<ng-container *ngFor="let column of allColumns; let index = index" [matColumnDef]="column">
				<mat-header-cell *matHeaderCellDef mat-sort-header> {{convert(column)}} </mat-header-cell>
				<mat-cell mat-cell *matCellDef="let row">

					<div *ngIf="column === 'Actions'">
						<button nbButton ghost (click)="deleteEntry(row)"><nb-icon icon="trash-2-outline"></nb-icon></button>
						<button nbButton ghost (click)="edit(row)"><nb-icon icon="edit-outline"></nb-icon></button>
					</div>

					<div *ngIf="!['checkbox', 'recommended', 'singleplayer', 'multiplayer', 'starred'].includes(column) && column != 'Actions'" class="string-fields">
						<div style="white-space: pre-line">
							{{getValue(row, column)}}
						</div>
					</div>

					<nb-checkbox *ngIf="['checkbox', 'recommended', 'singleplayer', 'multiplayer', 'starred'].includes(column)" [checked]="getValue(row, column)" disabled></nb-checkbox>
                </mat-cell>
			</ng-container>

			<mat-header-row *matHeaderRowDef="allColumns; sticky: true"></mat-header-row>
            <mat-row *matRowDef="let row; columns: allColumns;"></mat-row>

        </mat-table>

	</nb-card-body>
</nb-card>
