table {
	width: 100%;
}

.search-input {
	width: 175px;
}

.score-select ::ng-deep {
	margin-left: 15px;
	.select-button {
		min-width: 150px;
		max-width: 150px;
	}

	Word-wrap: break-Word !important;
	white-space: unset !important;
	overflow-wrap: break-Word;
	Word-wrap: break-Word;

	Word-break: break-Word;

	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}

nb-select ::ng-deep {
	margin-left: 15px;
	.select-button {
		min-width: 150px;
		max-width: 150px;
	}

	Word-wrap: break-Word !important;
	white-space: unset !important;
	overflow-wrap: break-Word;
	Word-wrap: break-Word;

	Word-break: break-Word;

	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}

.mat-form-field {
	font-size: 14px;
	width: 100%;
}

nb-card-body {
	max-height: 100%;
	overflow: hidden;
}

mat-table {
	background-color: #192038;
	display: flex;
    flex-direction: column;
    overflow-y: scroll;
	max-height: 650px;
    table-layout: fixed;
}

mat-row {
	min-height: 75px;
}

mat-cell {
	color: #ffffff;
	font-size: 14px;
	font-weight: 600;
}

mat-header-cell {
	color: #ffffff;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 14px;
	font-weight: bold;
	Word-wrap: break-Word !important;
	white-space: unset !important;
	overflow-wrap: break-Word;
	Word-wrap: break-Word;

	Word-break: break-Word;

	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}

mat-paginator {
	background-color: #192038;
	color: white;
}

.string-fields {
	width: 90%;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(130, 130, 130);
    border-radius: 20px;
    border: 3px solid rgb(130, 130, 130);
}

.loading {
	display: flex;
	margin-top: 20px;
	justify-content: center;
	align-items: center;
}

.mat-column-score {
	max-width: 100px;
}

.mat-column-recommendation {
	max-width: 100px;
}

.mat-column-franchise {
	max-width: 200px;
}

.mat-column-whereToPlay {
	max-width: 125px;
}

.mat-column-genre {
	max-width: 150px;
}

.mat-column-actions {
	max-width: 300px;
}

.mat-column-name {
	text-align: center;
	justify-content: center;
}

