<nb-card>
	<nb-card-body>

		<div style="margin-bottom: 15px;">

			<input nbInput [ngModel]="globalFilter" (ngModelChange)="applyFilter($event)"
                    [ngModelOptions]="{standalone: true}" id="search" class="search-input" #input>

			<nb-select multiple placeholder="Score" [formControl]="scoreControl" class="score-select" shape="round">
				<nb-option [value]="null">Clear</nb-option>
				<nb-option *ngFor="let score of [
					{type: '\<', text: '-7', predicate: 7},
					{type: '\>=', text: '7', predicate: 7},
					{type: '\>=', text: '8', predicate: 8},
					{type: '\>=', text: '9', predicate: 9},
					{type: '\==', text: '10', predicate: 10},
				]"
				[value]="score">{{score.text}}</nb-option>
			</nb-select>

			<nb-select multiple placeholder="Where" [formControl]="whereControl" shape="round">
				<nb-option [value]="null">Clear</nb-option>
				<nb-option *ngFor="let where of whereToPlay"
				[value]="where">{{where}}</nb-option>
			</nb-select>

			<nb-select multiple placeholder="Genre" [formControl]="genreControl" shape="round">
				<nb-option [value]="null">Clear</nb-option>
				<nb-option *ngFor="let genre of gameGenres"
				[value]="genre">{{genre}}</nb-option>
			</nb-select>

			<nb-select placeholder="Players" [formControl]="singleControl" class="score-select" shape="round">
				<nb-option [value]="null">Clear</nb-option>
				<nb-option *ngFor="let type of [
					{value: true , text: 'SinglePlayer'},
					{value: false , text: 'MultiPlayer'},
				]"
				[value]="type.value">{{type.text}}</nb-option>
			</nb-select>

			<nb-select placeholder="GF" [formControl]="recommendedControl" class="score-select" shape="round">
				<nb-option [value]="null">Clear</nb-option>
				<nb-option *ngFor="let type of [
					{value: true , text: 'Yes'},
					{value: false , text: 'No'},
				]"
				[value]="type.value">{{type.text}}</nb-option>
			</nb-select>

			<nb-select placeholder="Played" [formControl]="playedControl" class="score-select" shape="round">
				<nb-option [value]="null">Clear</nb-option>
				<nb-option *ngFor="let type of [
					{value: true , text: 'Yes'},
					{value: false , text: 'No'},
				]"
				[value]="type.value">{{type.text}}</nb-option>
			</nb-select>

			<nb-select placeholder="Starred" [formControl]="starredControl" class="score-select" shape="round">
				<nb-option [value]="null">Clear</nb-option>
				<nb-option *ngFor="let type of [
					{value: true , text: 'Yes'},
					{value: false , text: 'No'},
				]"
				[value]="type.value">{{type.text}}</nb-option>
			</nb-select>

			<nb-select multiple placeholder="Excludes" [formControl]="excludeControl" shape="round">
				<nb-option [value]="null">Clear</nb-option>
				<nb-option *ngFor="let exclude of excludeList"
				[value]="exclude">{{exclude}}</nb-option>
			</nb-select>
		</div>

		<div style="margin-bottom: 15px;">
			<button nbButton ghost (click)="add()"><nb-icon icon="plus-outline"></nb-icon></button>
			<button nbButton ghost (click)="saveToLocalStorage()"><nb-icon icon="save-outline"></nb-icon></button>
			<button nbButton ghost (click)="save()"><nb-icon icon="arrow-circle-down-outline"></nb-icon></button>
			<button nbButton ghost (click)="randomizeEntry(true)"><nb-icon icon="shuffle-2-outline"></nb-icon></button>
			<button nbButton ghost (click)="randomizeEntry(false)"><nb-icon icon="heart-outline"></nb-icon></button>
			<button nbButton ghost (click)="randomizeEntry(true, true)"><nb-icon icon="star-outline"></nb-icon></button>
		</div>

		<mat-paginator
		[pageSizeOptions]="[5, 10, 25, 50, 100]"
		[pageSize]="25" aria-label="Select page"
		[showFirstLastButtons]="true">
    	</mat-paginator>

		<mat-table *ngIf="!loading" [dataSource]="dataSource" matSort fixedLayout>

			<ng-container *ngFor="let column of allColumns; let index = index" [matColumnDef]="column">
				<mat-header-cell *matHeaderCellDef mat-sort-header> {{convert(column)}} </mat-header-cell>
				<mat-cell mat-cell *matCellDef="let row">

					<div *ngIf="column === 'Actions'">
						<button nbButton ghost (click)="deleteEntry(row)"><nb-icon icon="trash-2-outline"></nb-icon></button>
						<button nbButton ghost (click)="edit(row)"><nb-icon icon="edit-outline"></nb-icon></button>
					</div>

					<div *ngIf="!['checkbox', 'recommended', 'singleplayer', 'multiplayer', 'starred'].includes(column) && column != 'Actions'" class="string-fields">
						<div style="white-space: pre-line">
							{{getValue(row, column)}}
						</div>
					</div>

					<nb-checkbox *ngIf="['checkbox', 'recommended', 'singleplayer', 'multiplayer', 'starred'].includes(column)" [checked]="getValue(row, column)" disabled></nb-checkbox>
                </mat-cell>
			</ng-container>

			<mat-header-row *matHeaderRowDef="allColumns; sticky: true"></mat-header-row>
            <mat-row *matRowDef="let row; columns: allColumns;"></mat-row>

        </mat-table>

		<div class="loading" *ngIf="loading">
			<mat-spinner></mat-spinner>
		</div>

	</nb-card-body>
</nb-card>
